
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--lista-->
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Charts</li>
</ol>

<!--Carta-->
<div class="card">
    <div class="card-header">
        <!--icono-->
        <i class="fas fa-users me-1"></i> Lista de usuarios
    </div>

    <div class="card-body">
        <!--
        <h5 class="card-title">Special title</h5>
        <p class="card-text"> text below</p>
        <a href="#" class="btn btn-primary"> Go somewhere</a>
            -->
        <div class="row">
            <div class="col-12">
                <!--El argumento del modal seria nulo porque, se registra un nuevo usuario-->
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Usuario</button>
            </div>
        </div>

        <hr />

        <table id="tabla2" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!--Modal con bootstrap 5 (para editar los datos de la tabla)
    
    -se abrira con un boton que se llama 'Crear Usuario'
    -->
    <!--el data-bs-backdrop lo que hace es que no podra cerrarse el modal sin apretar el boton salir-->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Usuarios</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2"><!--para las grillas de 2x2-->
                
                <!--Id de usuario(oculto del modal)-->
                <input id="txtid" type="hidden" value="0"/>

                <div class="row">

                    <div class="col-sm-6">
                        <label for="txtnombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtnombres">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtapellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellidos">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtcorreo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtcorreo">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>



<!--para llamar la seccion de la master page que tiene la ruta scripts para llamar los
    usuarios-->
@section scripts{
    <script>


        //creando DataTable para los datos
            //variables globales
            var tabladata;
            var filaSeleccionada;


            //implementando jquery de la libreria


            /*
            * esta funcion de ajax solo es de ejemplo para poder ver la lista de los datos en la consola(no es necesario)
            */
            jQuery.ajax({
                //se pone el nombre de la funcion que tiene la lista de los usuarios
                //y el controlador
                url: '@Url.Action("ListarUsuarios","Home")',
                type: "GET", //de tipo get
                dataType: "json", //se maneja con json
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //esto se ejecuta cuando la operacion se ejecuto correctamente
                    /*debugger;
                    var texto1 = "HOla soy una prueba";
                    */
                    console.log(data);//prueba
                }
            })

        $(document).ready(function () {
                                            //llamando variable
                //idenfiticador para el id del html
            tabladata = $("#tabla2").DataTable({
                responsive: true, //responsiva en entorno movil
                ordering: false, //ordenamiento de las columnas
                "ajax": {
                    url: '@Url.Action("ListarUsuarios","Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [ //se especifican todas las columnas a emplear en la tabla(se ponen todos los campos de la tabla)
                    { "data": "Nombres" }, //el origen de la variable data del controlador Home ListarUsuarios
                    { "data": "Apellidos" },
                    { "data": "Correo" },
                    {
                        //condicion que muestra el resultado de activo con un string
                        "data": "Activo", "render": function (valor) {
                            if (valor) {
                                return '<span class="badge bg-success">Si</span>';
                            } else {
                                return '<span class="badge bg-danger">No</span>';
                            }
                        }
                    },
                    {
                        //botones en la tabla para editar o eliminar registros de usuarios
                        //para editar usuarios
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                                //para eliminar usuarios
                            '<button type="button" class="btn btn-danger btn-sm ms-2"><i class="fas fa-trash"></i></button>',

                        //quitar ordenamiento
                        "orderable": false,

                        //para que no aparezca en el text de busqueda
                        "searchable": false,

                        //cuanto es el ancho de la columna de los botones
                        "width": "90px"
                    }
                ],
                    //la configuracion de datatable cambie a español
                "language":{
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
             });
        });


        //funcionamiento del modal

        //la funcion recibira como parametro un json para que se muestre los datos de la tabla
        function abrirModal(json){

            //si es diferente a nullo se editaran los datos guardados
            if (json != null) {
                //se mostrara
                $("#txtid").val(json.idUsuario);
                $("#txtnombres").val(json.Nombres);
                $("#txtapellidos").val(json.Apellidos);
                $("#txtcorreo").val(json.Correo);
                $("#cboactivo").val(json.Activo == true ? 1 : 0); //operador ternario
            } else {
                //se mostrara
                $("#txtid").val(0);
                $("#txtnombres").val("");
                $("#txtapellidos").val("");
                $("#txtcorreo").val("");
                $("#cboactivo").val(1); //operador ternario
            }

            //llamando el id del modal
            //modal() se mostrara el modal puesto
            $("#FormModal").modal("show");
        }



        //dandole funcionamiento al boton del lapiz
        //$(document).ready(function () {
                //llamando a la tabla y al tbody y la clase del boton para editar
        $("#tabla2 tbody").on("click", '.btn-editar', function () {

            //llamando la fila donde esta el boton en una variable
             filaSeleccionada = $(this).closest("tr");


            //accediendo a la variable donde tiene la data de la tabla

            var data = tabladata.row(filaSeleccionada).data(); //llama toda la data de la fila


            //llamando la funcion del modal
            abrirModal(data);

            });
        //});

        //funcion para guardar los datos
        //(funcion opcional, ya que se haran PROC de DB)
        function Guardar() {
            var Usuario = {
                Activo: $("#cboactivo").val() == 1 ? true : false, //para conseguir el valor activo
                Apellidos: $("#txtapellidos").val(),
                Correo: $("#txtcorreo").val(),
                Nombres: $("#txtnombres").val(),
                idUsuario:$("#txtid").val()
            }

            //condicion
            if (Usuario.idUsuario == 0) {
                //se llama el id de la tabla
                //se guarda nuevos usuarios
                tabladata.row.add(Usuario).draw(false);
            } else {
                //para editar filas guardadas
                tabladata.row(filaSeleccionada).data(Usuario).draw(false);

            }

            //para guardar modal
            $("#FormModal").modal("hide");
        }

    </script>

}